@import './styles/variables';
#app{
    >header{
        background: $primary;
        padding: 12px 18px;
        color:#fff;
        h1{
            margin: 0px;
            font-weight: normal;
        }
    }
}